@import "src/default";

.multiline {
  white-space: pre-line;
}

img.back-btn {
  width: 1rem;
}

a.back-link {
  width: fit-content;
  display: flex;
  align-items: center;
}

h1, h2 {
  margin-top: 2rem;
}

h3, h4 {
  margin-top: 1rem;
}
