@import "src/default";
@import 'bootstrap/scss/mixins';

.container {
  max-width: 300px;

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 3px solid $dark-gray;
    background-color: var(--medium-gray, #{$medium-gray});
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 2px 5px 0 rgba(0, 0, 0, 0.18);
  }

  .circle-active {
    border-color: $dark-gray;
    background-color: var(--secondary, #{$secondary});
  }

  .line {
    width: 100%;
    height: 2px;
    background: $stepperLine;
    flex: 1;
  }
}
