<div class="row justify-content-center">
  <p class="stepper-text mb-1 small text-bold">
    {{ 'navigation.step' | translate }} {{currentStep + 1}}/{{steps.length}}
  </p>
</div>
<div class="row justify-content-center no-gutters mb-4">
  <div *ngFor="let step of steps; index as i" class="col-auto">
    <div class="row no-gutters align-items-center">
      <div class="col-auto p-0">
        <div [ngClass]="{'circle-active': step===currentStep}" class="circle"></div>
      </div>
      <div class="col-auto p-0">
        <div *ngIf="i !== steps.length-1" class="line"></div>
      </div>
    </div>
  </div>
</div>
