@import "src/default";
@import 'bootstrap/scss/mixins';

content {
  font-size: $font-size-small-mobile;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-small;
  }
  text-align: left;
  padding-left: 5pt;
  padding-right: 5pt;
}

content h1 {
  display: block;
  font-size: $font-size-medium-mobile !important;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-medium !important;
  }
  text-transform: none;
  margin-top: 14pt;
  margin-bottom: 14pt;
  text-align: center;
}

content h1 > a {
  color: var(--primary);
  display: inline;
  text-align: center;
}

content h1 > a:hover {
  text-decoration: underline;
}

content h2 {
  display: block;
  text-align: left;
  font-size: $font-size-medium-mobile !important;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-medium !important;
  }
  text-transform: none;
  margin-top: 14pt;
  margin-bottom: 14pt;
}

content h3 {
  display: block;
  text-align: left;
  font-size: $font-size-small-mobile !important;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-small !important;
  }
  text-transform: none;
  margin-top: 5pt;
  margin-bottom: 5pt;
}
