version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    assignees:
      - 'BGruenberg'
    cooldown:
      default-days: 7
    groups:
      typescript-eslint:
        patterns:
          - "typescript-eslint"
          - "@typescript-eslint/*"

  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: weekly
      day: monday
      time: '09:00'
      timezone: Europe/Berlin

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: weekly
      day: monday
      time: '09:00'
      timezone: Europe/Berlin
