@use "src/default" as *;
@import "bootstrap/scss/mixins";

content {
  font-size: $font-size-small-mobile;
  text-align: left;
  padding-left: 5pt;
  padding-right: 5pt;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-small;
  }
}

content h1 {
  display: block;
  font-size: $font-size-medium-mobile !important;
  text-transform: none;
  margin-top: 14pt;
  margin-bottom: 14pt;
  text-align: center;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-medium !important;
  }
}

content h1 > a {
  color: var(--primary, #{$primary});
  display: inline;
  text-align: center;
}

content h1 > a:hover {
  text-decoration: underline;
}

content h2 {
  display: block;
  text-align: left;
  font-size: $font-size-medium-mobile !important;
  text-transform: none;
  margin-top: 14pt;
  margin-bottom: 14pt;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-medium !important;
  }
}

content h3 {
  display: block;
  text-align: left;
  font-size: $font-size-small-mobile !important;
  text-transform: none;
  margin-top: 5pt;
  margin-bottom: 5pt;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-small !important;
  }
}

:host ::ng-deep table.privacy-table {
  border-collapse: separate;
  border-spacing: 1rem;

  td {
    vertical-align: baseline;
  }
}
