@import "src/default";

.date-time-overview table.mobile {
  tr td {
    border-top: 1px solid $dark-gray;
  }

  tr:first-child td {
    border-top: none;
  }
}

.date-time-overview table.desktop {
  td {
    padding: 0;
    min-width: $suggested-date-desktop-min-width;
    max-width: $suggested-date-desktop-max-width;
    border-right: 1px solid $dark-gray;
  }

  td:last-child {
    border-right: none;
  }
}

.btn .btn-next {
  min-width: 172px !important;
}

.table {
  color: $primary;
}
