@import "src/default.scss";

.date-time-overview table {
  color: var(--primary, #{$primary});

  th {
    min-width: $suggested-date-desktop-min-width;
    max-width: $suggested-date-desktop-max-width;

    font-size: medium;
    text-align: center;
    vertical-align: middle;
  }

  td,
  th {
    padding: 0;
    border-right: 1px solid $divider-border-color;
  }

  td,
  th {
    &:last-child {
      border-right: none;
    }
  }
}

.btn .btn-next {
  min-width: 172px !important;
}
