<div class="headline">
  <h1>{{ 'imprint.oss' | translate }}</h1>
</div>
<section>
  <h2>Zusammenfassung</h2>
  <table>
    <tr>
      <th>Lizenz</th>
      <th>Anzahl</th>
    </tr>
    @for (element of amountOfLicences; track element) {
      <tr>
        <td>{{ element.license }}</td>
        <td>{{ element.amount }}</td>
      </tr>
    }
  </table>
</section>
<section>
  <h2>Lizenzen:</h2>
  @for (element of summary; track element.packageName) {
    <div>
      <div><em>{{ element.packageName }}:</em></div>
      <span>Author: {{ element.author }}</span>
      @for (license of element.licenses; track license.id) {
        <div>
          @if (!!license) {
            <div>{{ license.id }}</div>
          }
          @if (!license) {
            <div>{{ license }}</div>
          }
        </div>
      }
    </div>
  }
</section>
<button (click)="back()" aria-label="Zurück"
        class="btn btn-secondary w-100">{{ 'navigation.back' | translate }}
</button>
