<div class="row justify-content-center">
  <app-stepper [currentStep]="1" data-id="stepperComponent"></app-stepper>
</div>
<div class="row justify-content-center mt-4 mb-0">
  @if (!isAdmin) {
    <h1
      class="text-center mb-2"
      data-id="addDetailsHeading"
    >
      {{ 'date.choose' | translate }}
    </h1>
  }
  @if (isAdmin) {
    <h1
      class="text-center"
    >
      {{ 'date.change' | translate }}
    </h1>
  }
</div>
@if (isAdmin) {
  <app-admin-info></app-admin-info>
}
<div class="row justify-content-center">
  <form (ngSubmit)="onSubmit()" [formGroup]="datesForm" class="col col-lg-9">
    <!-- section container for each date entry -->
    @for (suggestedDateForm of getSuggestedDatesFromForm().controls; track suggestedDateForm; let i = $index) {
      <div
        [attr.aria-readonly]="isSuggestedDateFromDatabase(i)" [formGroup]="castToFormGroup(suggestedDateForm)"
        class="section-container pb-2">
        <!-- title of the container -->
        <div class="section-title text-center p-3">
          <span class="float-end">
            <button
              (click)="deleteSuggestedDateFormByIndex(i)"
              class="btn btn-transparent p-0 border-0 btn-delete-date"
              id="removeDate-{{i}}"
              type="button"
            >
              <img alt="{{ 'date.delete' | translate }}" class="icon" ngSrc="assets/delete-date.svg" height="height"
                   width="width"/>
            </button>
          </span>
          <h2 class="font-medium text-bold correct-delete-button-width"
                data-id="enterDate">{{ 'date.enter' | translate }}</h2>
        </div>
        <div class="divider-single mb-2"></div>
        <!-- top row for date / time controls -->
        <div class="row g-0 justify-content-around align-items-start">
          <div class="col-12 col-lg">
            <div class="row">
              <!-- start date -->
              <div
                class="col px-1 px-lg-3 my-1 form-group invalid-message-highlight"
                aria-live="assertive"
                [ngClass]="{
                  'has-error': getStartDateOfSuggestedStartDateByIndex(i).invalid
                     && (getStartDateOfSuggestedStartDateByIndex(i).dirty || getStartDateOfSuggestedStartDateByIndex(i).touched),
                  'col-6': getShowSuggestedDateEndDateOnDifferentDayFormValue(i),
                  'col': !getShowSuggestedDateEndDateOnDifferentDayFormValue(i)
                }"
              >
                <label data-id="startDateLabel"
                       for="suggested-date-start-date-{{i}}">{{ 'date.start' | translate }}</label>
                @if (!isMobileDevice) {
                  <div class="input-group date" data-target-input="nearest">
                    <div class="input-group-prepend">
                      <div (click)="datepicker_start.toggle()" class="input-group-text input-group-divider">
                        <img alt="calendar" ngSrc="assets/calendar.svg" height="height" width="width">
                      </div>
                    </div>
                    <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                    <input
                      #datepicker_start="ngbDatepicker"
                      required
                      (dateSelect)="datepicker_start.close()"
                      [minDate]="{ year: now.year(), month: now.month()+1, day: now.date() }"
                      appAutoFocus
                      class="form-control date"
                      data-id="startDateInput"
                      data-target-input="nearest"
                      formControlName="startDate"
                      id="suggested-date-start-date-{{i}}"
                      ngbDatepicker
                      placeholder="{{ 'date.placeholder' | translate }}"
                      aria-describedby="required-start-date invalid-start-date not-in-future-start-date"
                    >
                  </div>
                } @else {
                  <div class="input-group date" data-target-input="nearest">
                    <div class="input-group-prepend">
                      <div class="input-group-text input-group-divider">
                        <img alt="Kalender" ngSrc="assets/calendar.svg" height="height" width="width">
                      </div>
                    </div>
                    <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                    <input
                      #mobileStartDateInput
                      required
                      (input)="parseAndSetDate('startDate', mobileStartDateInput.value, i)"
                      [attr.aria-disabled]="isSuggestedDateFromDatabase(i)"
                      [ngClass]="{'disabled': isSuggestedDateFromDatabase(i)}"
                      [value]="getDateAsIsoString('startDate', i)"
                      appAutoFocus
                      class="form-control date"
                      data-target-input="nearest"
                      id="suggested-date-start-date-{{i}}"
                      min="{{now.toDate() | date: 'yyyy-MM-dd'}}"
                      name="startDate"
                      type="date"
                      aria-describedby="required-start-date invalid-start-date not-in-future-start-date"
                    >
                  </div>
                }
                @if ((getStartDateOfSuggestedStartDateByIndex(i).dirty
                  || getStartDateOfSuggestedStartDateByIndex(i).touched)
                && !!getStartDateOfSuggestedStartDateByIndex(i).errors?.required) {
                  <div
                    class="invalid-message no-padding"
                    data-id="msgRequiredStartDate"
                    id="required-start-date"
                  >
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ 'date.setStart' | translate }}
                  </div>
                }
                @if ((getStartDateOfSuggestedStartDateByIndex(i).dirty
                  || getStartDateOfSuggestedStartDateByIndex(i).touched)
                && !!getStartDateOfSuggestedStartDateByIndex(i).errors?.invalidDate) {
                  <div
                    class="invalid-message no-padding"
                    data-id="msgInvalidStartDate"
                    id="invalid-start-date"
                  >
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ 'date.startInvalid' | translate }}
                  </div>
                }
                @if ((getStartDateOfSuggestedStartDateByIndex(i).dirty
                  || getStartDateOfSuggestedStartDateByIndex(i).touched)
                && !!getStartDateOfSuggestedStartDateByIndex(i).errors?.invalidDateNotTodayNorInFuture) {
                  <div
                    class="invalid-message no-padding"
                    data-id="msgNotInFutureStartDate"
                    id="not-in-future-start-date"
                  >
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ 'date.startFuture' | translate }}
                  </div>
                }
              </div>
              <!-- end date on the top row -->
              @if (getShowSuggestedDateEndDateOnDifferentDayFormValue(i)) {
                <div
                  [ngClass]="{'has-error': getEndDateOfSuggestedStartDateByIndex(i).invalid
                  && (getEndDateOfSuggestedStartDateByIndex(i).dirty || getEndDateOfSuggestedStartDateByIndex(i).touched)}"
                  class="col-6 col-lg px-1 px-lg-3 my-1 form-group has-error-highlight">
                  <label for="suggested-date-end-date-{{i}}">{{ 'date.end' | translate }}</label>
                  @if (!isMobileDevice) {
                    <div class="input-group date">
                      <div class="input-group-prepend">
                        <div (click)="datepicker_end.toggle()" class="input-group-text input-group-divider">
                          <img alt="Uhr" ngSrc="assets/calendar.svg" height="height" width="width">
                        </div>
                      </div>
                      <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                      <input
                        #datepicker_end="ngbDatepicker"
                        (dateSelect)="datepicker_end.close()"
                        [minDate]="getStartDateOfSuggestedStartDateByIndex(i).value"
                        appAutoFocus
                        class="form-control date"
                        data-id="endDateInput"
                        formControlName="endDate"
                        id="suggested-date-end-date-{{i}}"
                        ngbDatepicker
                        placeholder="{{ 'date.placeholder' | translate }}"
                        aria-describedby="invalid-date start-date-after-end-date"
                      >
                    </div>
                  } @else {
                    <div class="input-group date" data-target-input="nearest">
                      <div class="input-group-prepend">
                        <div class="input-group-text input-group-divider">
                          <img alt="Kalender" ngSrc="assets/calendar.svg" height="height" width="width">
                        </div>
                      </div>
                      <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                      <input
                        #mobileEndDateInput
                        (input)="parseAndSetDate('endDate', mobileEndDateInput.value, i)"
                        [attr.aria-disabled]="isSuggestedDateFromDatabase(i)"
                      [ngClass]="{'disabled': isSuggestedDateFromDatabase(i)}"
                        [value]="getDateAsIsoString('endDate', i)"
                        appAutoFocus
                        class="form-control date" data-target-input="nearest" id="suggested-date-end-date-{{i}}"
                        min="{{getDateAsIsoString('startDate', i)}}"
                        name="endDate"
                        type="date"
                        aria-describedby="invalid-date start-date-after-end-date"
                      >
                    </div>
                  }
                  @if ((getEndDateOfSuggestedStartDateByIndex(i).dirty
                    || getEndDateOfSuggestedStartDateByIndex(i).touched)
                  && !!getEndDateOfSuggestedStartDateByIndex(i).errors?.invalidDate) {
                    <div class="invalid-message" id="invalid-date">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ 'date.endInvalid' | translate }}
                    </div>
                  }
                </div>
              }
            </div>
          </div>
          <!-- 2nd column on the top row for time controls - displayed if there's no end date -->
          @if (!getShowSuggestedDateEndDateOnDifferentDayFormValue(i)) {
            <!-- button to display start time and end time controls on the top row -->
            @if (!getShowStartDateStartTimeControlValue(i) && !getStartTimeOfSuggestedStartDateByIndex(i).value) {
              <div
                class="col suggested-date-timepicker-start has-error-highlight">
                <div class="row">
                  <div class="col px-1 px-lg-3 my-1 form-group">
                    <label for="suggested-date-start-time-{{i}}">{{ 'time.time' | translate }}</label>
                    <div class="input-group date">
                      <div class="input-group-prepend">
                        <div class="input-group-text input-group-divider">
                          <img alt="Add time" ngSrc="assets/add-time.svg" height="height" width="width">
                        </div>
                      </div>
                      <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                      <button
                        (click)="closeAllControlsExcept(i); setShowStartTimesControlValue(i, true);"
                        [attr.aria-disabled]="isSuggestedDateFromDatabase(i)"
                      [ngClass]="{'disabled': isSuggestedDateFromDatabase(i)}"
                        class="form-control col date"
                        data-id="addTimesButton"
                        type="button"
                      >
                        {{ 'time.add' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            }
            <!-- controls to enter start time - displayed if the button has been clicked or if values have been entered before -->
            @if (getShowStartDateStartTimeControlValue(i) || getStartTimeOfSuggestedStartDateByIndex(i).value) {
              <div
                [ngClass]="{'has-error': getStartTimeOfSuggestedStartDateByIndex(i).invalid
                  && (getStartTimeOfSuggestedStartDateByIndex(i).dirty || getStartTimeOfSuggestedStartDateByIndex(i).touched)}"
                class="col col-lg-3 px-1 px-lg-3 my-1 suggested-date-timepicker-start has-error-highlight form-group">
                <label for="suggested-date-start-time-{{i}}">{{ 'time.start' | translate }}</label>
                @if (!isMobileDevice) {
                  <div class="row g-0 input-group date justify-content-center align-items-start"
                       data-target-input="nearest">
                    <div class="col">
                      <div class="input-group date">
                        <div class="input-group-prepend">
                          <div class="input-group-text input-group-divider">
                            <img alt="clock" ngSrc="assets/starttime.svg" height="height" width="width">
                          </div>
                        </div>
                        <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                        <input
                          class="form-control"
                          appTimeInput
                          data-id="startTimeInput"
                          formControlName="startTime"
                          id="suggested-date-start-time-{{i}}"
                          placeholder="{{ 'time.placeholder' | translate }}"
                          aria-describedby="start-date-after-end-date end-time-entered-but-no-start-time-entered start-date-time-in-past"
                        >
                      </div>
                    </div>
                  </div>
                } @else {
                  <div class="input-group" data-target-input="nearest">
                    <div class="input-group-prepend">
                      <div class="input-group-text input-group-divider">
                        <img alt="clock" ngSrc="assets/starttime.svg" height="height" width="width">
                      </div>
                    </div>
                    <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                    <input
                      #mobileStartTimeInput
                      (input)="parseAndSetTime('startTime', mobileStartTimeInput.value, i)"
                      [attr.aria-disabled]="isSuggestedDateFromDatabase(i)"
                      [ngClass]="{'disabled': isSuggestedDateFromDatabase(i)}"
                      [value]="getTimeAsString('startTime', i)"
                      appAutoFocus
                      class="form-control time"
                      id="suggested-date-start-time-{{i}}"
                      name="startTime"
                      type="time"
                      aria-describedby="start-date-after-end-date end-time-entered-but-no-start-time-entered start-date-time-in-past"
                    >
                  </div>
                }
              </div>
            }
            <!-- controls to enter the end time - displayed if the button has been clicked or if values have been entered before -->
            @if (getShowStartDateEndTimeControlValue(i) || getStartTimeOfSuggestedStartDateByIndex(i).value) {
              <div
                [ngClass]="{'has-error': getEndTimeOfSuggestedStartDateByIndex(i).invalid
                 && (getEndTimeOfSuggestedStartDateByIndex(i).dirty || getEndTimeOfSuggestedStartDateByIndex(i).touched)}"
                class="col-6 col-lg-3 px-1 px-lg-3 my-1 suggested-date-timepicker-start has-error-highlight form-group">
                <label for="suggested-date-end-time-{{i}}">{{ 'time.end' | translate }}</label>
                @if (!isMobileDevice) {
                  <div class="row g-0 input-group date justify-content-center align-items-start"
                       data-target-input="nearest">
                    <div class="col">
                      <div class="input-group date">
                        <div class="input-group-prepend">
                          <div class="input-group-text input-group-divider">
                            <img alt="clock" ngSrc="assets/endtime.svg" height="height" width="width">
                          </div>
                        </div>
                        <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                        <input
                          class="form-control"
                          appTimeInput
                          data-id="endTimeInput"
                          formControlName="startDateEndTime"
                          id="suggested-date-end-time-{{i}}"
                          placeholder="{{ 'time.placeholder' | translate }}"
                          aria-describedby="start-date-after-end-date end-time-entered-but-no-start-time-entered start-date-time-in-past"
                        >
                      </div>
                    </div>
                  </div>
                } @else {
                  <div class="input-group" data-target-input="nearest">
                    <div class="input-group-prepend">
                      <div class="input-group-text input-group-divider">
                        <img alt=" clock" ngSrc="assets/starttime.svg" height="height" width="width">
                      </div>
                    </div>
                    <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                    <input
                      #mobileStartDateEndTimeInput
                      (input)="parseAndSetTime('startDateEndTime', mobileStartDateEndTimeInput.value, i)"
                      [attr.aria-disabled]="isSuggestedDateFromDatabase(i)"
                      [ngClass]="{'disabled': isSuggestedDateFromDatabase(i)}"
                      [value]="getTimeAsString('startDateEndTime', i)"
                      appAutoFocus
                      class="form-control time"
                      id="suggested-date-end-time-{{i}}"
                      name="startDateEndTime"
                      type="time"
                      aria-describedby="start-date-after-end-date end-time-entered-but-no-start-time-entered start-date-time-in-past"
                    >
                  </div>
                }
              </div>
            }
          }
        </div>
        <!-- button to add an end date -->
        @if (!getShowSuggestedDateEndDateOnDifferentDayFormValue(i)) {
          <div class="my-2 divider-single"></div>
          <div class="p-0 col text-center mt-1 align-items-start">
            <button
              (click)="showSuggestedDateEndDateOnDifferentDayForm(i)"
              [attr.aria-disabled]="isSuggestedDateFromDatabase(i)"
                      [ngClass]="{'disabled': isSuggestedDateFromDatabase(i)}"
              class="btn btn-default btn-transparent btn-with-image btn-suggested-date-end-at-different-day font-weight-bold mt-1 mb-1"
              data-id="endAtOtherDayButton"
              type="button"
            >
              {{ 'date.endAtOtherDay' | translate }}
              <img alt="add" ngSrc="assets/add.svg" height="height" width="width">
            </button>
          </div>
        }
        <!-- bottom row for the time entry controls -->
        @if (getShowSuggestedDateEndDateOnDifferentDayFormValue(i)) {
          <div class="row g-0 justify-content-start align-items-start">
            <!-- button to display start time and end time controls on the bottom row -->
            @if (!getShowStartDateStartTimeControlValue(i) && !getStartTimeOfSuggestedStartDateByIndex(i).value) {
              <div
                class="col-12 col-lg-6 px-1 px-lg-3 suggested-date-timepicker-start has-error-highlight text-center">
                <div class="justify-content-start">
                  <label class="float-start" for="suggested-date-start-time-{{i}}">
                    {{ 'time.time' | translate }}
                  </label>
                  <div class="input-group date">
                    <div class="input-group-prepend">
                      <div class="input-group-text input-group-divider">
                        <img alt="Add time" ngSrc="assets/add-time.svg" height="height" width="width">
                      </div>
                    </div>
                    <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                    <button
                      (click)="closeAllControlsExcept(i); setShowStartTimesControlValue(i, true);  setShowEndDateEndTimeControlValue(i, true)"
                      [attr.aria-disabled]="isSuggestedDateFromDatabase(i)"
                      [ngClass]="{'disabled': isSuggestedDateFromDatabase(i)}"
                      class="form-control col date"
                      data-id="addTimesWithEndOnOtherDay"
                      type="button"
                    >
                      {{ 'time.add' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            }
            <!-- controls to enter start time - displayed if the button has been clicked or if values have been entered before -->
            @if (getShowStartDateStartTimeControlValue(i) || getStartTimeOfSuggestedStartDateByIndex(i).value) {
              <div
                [ngClass]="{'has-error': getStartTimeOfSuggestedStartDateByIndex(i).invalid
                  && (getStartTimeOfSuggestedStartDateByIndex(i).dirty || getStartTimeOfSuggestedStartDateByIndex(i).touched)}"
                class="col-6 col-lg px-1 px-lg-3 my-1 form-group suggested-date-timepicker-start has-error-highlight">
                <label for="suggested-date-start-time-{{i}}">{{ 'time.start' | translate }}</label>
                @if (!isMobileDevice) {
                  <div class="row g-0 input-group date"
                       data-target-input="nearest">
                    <div class="col-6">
                      <div class="input-group date">
                        <div class="input-group-prepend">
                          <div class="input-group-text input-group-divider">
                            <img alt="clock" ngSrc="assets/starttime.svg" height="height" width="width">
                          </div>
                        </div>
                        <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                        <input
                          class="form-control"
                          appTimeInput
                          data-id="startTimeInputSecondColumn"
                          formControlName="startTime"
                          id="suggested-date-start-time-{{i}}"
                          placeholder="{{ 'time.placeholder' | translate }}"
                          aria-describedby="start-date-after-end-date end-time-entered-but-no-start-time-entered start-date-time-in-past"
                        >
                      </div>
                    </div>
                  </div>
                } @else {
                  <div class="input-group" data-target-input="nearest">
                    <div class="input-group-prepend">
                      <div class="input-group-text input-group-divider">
                        <img alt="clock" ngSrc="assets/starttime.svg" height="height" width="width">
                      </div>
                    </div>
                    <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                    <input
                      #mobileStartTimeInput
                      (input)="parseAndSetTime('startTime', mobileStartTimeInput.value, i)"
                      [attr.aria-disabled]="isSuggestedDateFromDatabase(i)"
                      [ngClass]="{'disabled': isSuggestedDateFromDatabase(i)}"
                      [value]="getTimeAsString('startTime', i)"
                      appAutoFocus
                      class="form-control time"
                      id="suggested-date-start-time-{{i}}"
                      name="startTime"
                      type="time"
                      aria-describedby="start-date-after-end-date end-time-entered-but-no-start-time-entered start-date-time-in-past"
                    >
                  </div>
                }
              </div>
            }
            <!-- controls to enter the end time - displayed if the button has been clicked or if values have been entered before -->
            @if (getShowStartDateStartTimeControlValue(i) && getShowEndDateEndTimeControlValue(i)
            || getStartTimeOfSuggestedStartDateByIndex(i).value) {
              <div
                [ngClass]="{'has-error': getEndTimeOfSuggestedEndDateByIndex(i).invalid
                 && (getEndTimeOfSuggestedEndDateByIndex(i).dirty || getEndTimeOfSuggestedEndDateByIndex(i).touched)}"
                class="col-6 col-lg px-1 px-lg-3 my-1 form-group suggested-date-timepicker-start has-error-highlight">
                <label for="suggested-date-end-time-different-day-{{i}}">{{ 'time.end' | translate }}</label>
                @if (!isMobileDevice) {
                  <div class="row g-0 input-group date"
                       data-target-input="nearest">
                    <div class="col-6">
                      <div class="input-group date">
                        <div class="input-group-prepend">
                          <div class="input-group-text input-group-divider">
                            <img alt="clock" ngSrc="assets/endtime.svg" height="height" width="width">
                          </div>
                        </div>
                        <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                        <input
                          class="form-control"
                          appTimeInput
                          data-id="endTimeInputSecondColumn"
                          formControlName="endDateEndTime"
                          id="suggested-date-end-time-different-day-{{i}}"
                          placeholder="{{ 'time.placeholder' | translate }}"
                          aria-describedby="start-date-after-end-date end-time-entered-but-no-start-time-entered start-date-time-in-past"
                        >
                      </div>
                    </div>
                  </div>
                } @else {
                  <div class="input-group" data-target-input="nearest">
                    <div class="input-group-prepend">
                      <div class="input-group-text input-group-divider"><img alt="clock" ngSrc="assets/endtime.svg" height="height" width="width">
                      </div>
                    </div>
                    <!--suppress XmlDuplicatedId these duplicate ids  will never appear on the page at the same time-->
                    <input
                      #mobileEndDateEndTimeInput
                      (input)="parseAndSetTime('endDateEndTime', mobileEndDateEndTimeInput.value, i)"
                      [attr.aria-disabled]="isSuggestedDateFromDatabase(i)"
                      [ngClass]="{'disabled': isSuggestedDateFromDatabase(i)}"
                      [value]="getTimeAsString('endDateEndTime', i)"
                      appAutoFocus
                      class="form-control time"
                      id="suggested-date-end-time-different-day-{{i}}"
                      name="endDateEndTime"
                      type="time"
                      aria-describedby="start-date-after-end-date end-time-entered-but-no-start-time-entered start-date-time-in-past"
                    >
                  </div>
                }
              </div>
            }
          </div>
        }
        <div class="my-2 divider-single"></div>
        <!-- description (optional) for this date entry -->
        <div class="row">
          <div
            [ngClass]="{'has-error': getDescriptionByIndex(i).invalid
              && (getDescriptionByIndex(i).dirty || getDescriptionByIndex(i).touched)}"
            class="col form-group invalid-message-highlight"
          >
            <label data-id="descriptionLabel" for="suggested-date-description-{{i}}">
              {{ 'poll.details.description.descriptionOptional' | translate }}
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text input-group-divider">
                  <img ngSrc="assets/description.svg" alt="Sprechblase" height="height" width="width">
                </div>
              </div>
              <input
                id="suggested-date-description-{{i}}"
                data-id="descriptionInput"
                class="form-control"
                formControlName="description"
                placeholder="{{ 'poll.details.description.description' | translate }}"
                type="text"
                aria-describedby="description-too-long"
              >
            </div>
            @if (!!getDescriptionByIndex(i).invalid) {
              <div class="invalid-message" id="description-too-long" data-id="descriptionTooLong">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ 'poll.details.description.tooLong' | translate }}
              </div>
            }
          </div>
        </div>
        <!-- error messages for this date entry -->
        @if (getSuggestedDatesForm(i).dirty && !!getSuggestedDatesForm(i).errors) {
          <div class="row mb-2">
            <div [ngClass]="{'has-error': getSuggestedDatesForm(i).invalid}"
                 class="col my-1 px-1 px-lg-3 my-1 form-group">
              @if (!!getSuggestedDatesForm(i).errors?.startDateAfterEndDate) {
                <div class="invalid-message" id="start-date-after-end-date">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'date.startAfterEnd' | translate }}
                </div>
              }
              @if (!!getSuggestedDatesForm(i).errors?.endTimeEnteredButNoStartTimeEntered) {
                <div class="invalid-message" id="end-time-entered-but-no-start-time-entered">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'date.noStart' | translate }}
                </div>
              }
              @if (!!getSuggestedDatesForm(i).errors?.startDateTimeInPast) {
                <div class="invalid-message" id="start-date-time-in-past">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'date.inPast' | translate }}
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
    <!-- error messages for the entire form -->
    @if (getSuggestedDatesFromForm().invalid) {
      <div class="row g-0">
        <div [ngClass]="{'has-error': getSuggestedDatesFromForm().invalid
                  && (getSuggestedDatesFromForm().dirty || getSuggestedDatesFromForm().touched)}"
             class="col my-1 px-1 form-group">
          @if (!!getSuggestedDatesFromForm().errors?.invalidMinLengthArray) {
            <div class="invalid-message">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{ 'date.noValue' | translate }}
            </div>
          }
          @if (!!getSuggestedDatesFromForm().errors?.invalidMaxLengthArray) {
            <div class="invalid-message">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{ 'date.tooManyValues' | translate }}
            </div>
          }
        </div>
      </div>
    }
    <div class="row mt-2 justify-content-center">
      <div class="col-auto text-center">
        <button
          (click)="addSuggestedDate()"
          class="w-100 btn-circle"
          data-id="addSuggestedDateButton"
          type="button"
        >
          <img alt="pause/play symbol"
               class="icon"
               id="img_pause"
               ngSrc="assets/add-suggested-date.svg"
               height="height"
               width="width"
          >
          <span class="d-block font-weight-bold text-primary">{{ 'date.add' | translate }}</span>
        </button>
      </div>
    </div>
    <app-navigation
      (backward)="goBack()"
      (forward)="onSubmit()"
      [hasBackwardButton]="true"
      [hasForwardButton]="true"
      [isInvalid]="datesForm.invalid" backwardText="{{ 'navigation.back' | translate }}"
      forwardText="{{ 'navigation.next' | translate }}"
    ></app-navigation>
  </form>
</div>
