@import "src/default";
@import 'bootstrap/scss/mixins';

a {
  text-decoration: underline;
  color: $primary;
}

.section-container {
  margin-bottom: 10px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}
