<div class="form-row invalid-message-highlight" aria-live="assertive">
  <div class="col section-container py-2 px-3">
    <app-checkbox-field [formControl]="isTosRead" [labelTemplate]="tosLabelTemplate" ariaDescribedBy="tos-accept" [required]="'required'"/>

    <ng-template #tosLabelTemplate>
      {{ 'tos.accept_0' | translate }}
      <a data-cy="tosLink" routerLink="/termsOfService">{{ 'tos.tos' | translate }}</a>
      {{ 'tos.accept_1' | translate }}
      <a data-cy="tosPrivacyLink" routerLink="/privacy">{{ 'privacy.declaration' | translate }}</a>
      {{ 'tos.accept_2' | translate }}
    </ng-template>

    @if (isTosRead.dirty && isTosRead.invalid) {
      <div class="col-12 invalid-message" id="tos-accept">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ 'tos.accept' | translate }}
      </div>
    }
  </div>
</div>
