<div class="row justify-content-center">
  <app-stepper [currentStep]="0" data-id="stepperComponent"></app-stepper>
</div>
<div class="row justify-content-center mt-4 mb-0">
  @if (!isAdmin) {
    <h1 class="text-center mb-2" data-id="addDetailsHeading">
      {{ 'poll.addDetails' | translate }}
    </h1>
  }
  @if (isAdmin) {
    <h1 class="text-center">
      {{ 'poll.change' | translate }}
    </h1>
  }
</div>
@if (isAdmin) {
  <app-admin-info></app-admin-info>
}
<form (ngSubmit)="onSubmit()" [formGroup]="detailsForm" class="row justify-content-center wizard">
  <div class="col-11 col-lg-8">
    <div class="row justify-content-center px-3">
      <div class="section-container w-100 p-4">
        <div [ngClass]="{'has-error': title.invalid  && (title.dirty || title.touched)}"
             class="form-group-divider form-group">
          <div class="row g-0">
            <div class="col-auto d-flex justify-content-end align-items-center icon-frame">
              <img alt="key" class="icon m-2 mt-3 mt-lg-4" src="assets/title.svg">
            </div>
            <div class="col invalid-message-highlight" aria-live="assertive">
              <label data-id="titleLabel" for="title">{{ 'poll.title.placeholder' | translate }}</label>
              <input
                required
                class="form-control"
                data-id="titleInput"
                formControlName="title" id="title"
                placeholder="{{ 'poll.title.title' | translate }}"
                type="text"
                aria-describedby="required-title invalid-title maxLength-title">
              @if ((title.dirty || title.touched) && !!title.errors?.required) {
                <div
                  class="invalid-message"
                  data-id="msgRequiredTitle"
                  id="required-title"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'poll.title.noTitle' | translate }}
                </div>
              }
              @if (!!title.errors?.invalidName) {
                <div
                  class="invalid-message"
                  data-id="msgInvalidTitle"
                  id="invalid-title"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'poll.title.invalid' | translate }}
                </div>
              }
              @if (!!title.errors?.maxlength) {
                <div
                  class="invalid-message"
                  data-id="msgLongTitle"
                  id="maxLength-title"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'poll.title.tooLong' | translate }}
                </div>
              }
            </div>
          </div>
        </div>
        <div [ngClass]="{'has-error': name.invalid  && (name.dirty || name.touched)}"
             class="form-group-divider form-group">
          <div class="row g-0">
            <div class="col-auto d-flex justify-content-end align-items-center icon-frame">
              <img alt="key" class="icon m-2 mt-3 mt-lg-4" src="assets/user.svg">
            </div>
            <div class="col invalid-message-highlight" aria-live="assertive">
              <label data-id="nameLabel" for="name">{{ 'poll.details.name.yourName' | translate }}</label>
              <input
                required
                appAutoFocus
                class="form-control"
                data-id="nameInput"
                formControlName="name"
                id="name"
                placeholder="{{ 'poll.details.name.name' | translate }}"
                type="text"
                aria-describedby="required-name invalid-name long-name"
              >
              @if ((name.dirty || name.touched) && !!name.errors?.required) {
                <div
                  class="invalid-message"
                  data-id="msgRequiredName"
                  id="required-name"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'poll.details.name.noName' | translate }}
                </div>
              }
              @if (!!name.errors?.invalidName) {
                <div
                  class="invalid-message"
                  data-id="msgInvalidName"
                  id="invalid-name"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'poll.details.name.invalid' | translate }}
                </div>
              }
              @if (!!name.errors?.maxlength) {
                <div
                  class="invalid-message"
                  data-id="msgLongName"
                  id="long-name"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'poll.details.name.tooLong' | translate }}
                </div>
              }
            </div>
          </div>
        </div>
        <div [ngClass]="{'has-error': location.invalid  && (location.dirty || location.touched)}"
             class="form-group-divider form-group">
          <div class="row g-0">
            <div class="col-auto d-flex justify-content-end align-items-center icon-frame">
              <img alt="Ort" class="icon m-2 mt-3 mt-lg-4" src="assets/location.svg">
            </div>
            <div class="col invalid-message-highlight" aria-live="assertive">
              <label data-id="locationLabel" for="location">{{ 'poll.details.place.placeOptional' | translate }}</label>
              <input
                class="form-control"
                data-id="locationInput"
                formControlName="location"
                id="location"
                placeholder="{{ 'poll.details.place.place' | translate }}"
                type="text"
                aria-describedby="invalid-location maxLength-location"
              >
              @if (!!location.errors?.invalidName) {
                <div
                  class="invalid-message"
                  data-id="msgInvalidLocation"
                  id="invalid-location"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'poll.details.place.invalid' | translate }}
                </div>
              }
              @if (!!location.errors?.maxlength) {
                <div
                  class="invalid-message"
                  data-id="msgLongLocation"
                  id="maxLength-location"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'poll.details.place.tooLong' | translate }}
                </div>
              }
            </div>
          </div>
        </div>
        <div [ngClass]="{'has-error': description.invalid  && (description.dirty || description.touched)}"
             class="form-group-divider form-group">
          <div class="row g-0">
            <div class="col-auto d-flex justify-content-end align-items-center icon-frame">
              <img alt="Sprechblase" class="icon m-2 mt-3 mt-lg-4" src="assets/description.svg">
            </div>
            <div class="col invalid-message-highlight" aria-live="assertive">
              <label
                data-id="descriptionLabel"
                for="description"
              >
                {{ 'poll.details.description.descriptionOptional' | translate }}
              </label>
              <textarea
                class="form-control"
                data-id="descriptionInput"
                formControlName="description"
                id="description"
                placeholder="{{ 'poll.details.description.description' | translate }}"
                rows="4"
                type="text"
                aria-describedby="maxLength-description"
              ></textarea>
              @if (!!description.errors?.maxlength) {
                <div
                  class="invalid-message"
                  data-id="msgLongDescription"
                  id="maxLength-description"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'poll.details.description.tooLong' | translate }}
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-navigation
      (forward)="onSubmit()"
      [hasBackwardButton]="false"
      [hasForwardButton]="true"
      [isInvalid]="detailsForm.invalid"
      data-id="navigationComponent"
      forwardText="{{ 'navigation.nextToDateSelection' | translate }}"
    ></app-navigation>
  </div>
</form>
