<div class="row justify-content-center">
  <app-stepper [currentStep]="3" data-id="stepperComponent"></app-stepper>
</div>
<div class="row justify-content-center mt-4 mb-0">
  <h1
    class="text-center"
    data-id="overviewHeading"
  >
    {{ 'poll.checkData' | translate }}
  </h1>
</div>
<div class="row px-3">
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="section-container">
          <div class="p-3">
            <app-appointment-summary [appointment]="model" [showDeleteWarning]="true"></app-appointment-summary>
          </div>
          <div class="row">
            <div class="col">
              <div class="divider"></div>
            </div>
          </div>
          <app-dates-overview [appointment]="model"></app-dates-overview>
        </div>
      </div>
    </div>
    @if (apiError) {
      <div class="row mt-2">
        <app-message-box [message]="apiError" data-id="errorMessageBox"></app-message-box>
      </div>
    }
    @if (isAdmin) {
      <app-navigation
        (backward)="goBack()"
        (forward)="sendUpdateAppointment()"
        [hasBackwardButton]="true"
        [hasForwardButton]="true"
        [isInvalid]="false"
        backwardText="{{ 'navigation.revise' | translate }}"
        class="btn-next-large"
        forwardText="{{ 'poll.change' | translate }}"
      ></app-navigation>
    }
    @if (!isAdmin) {
      <app-navigation
        (backward)="goBack()"
        (forward)="sendCreateAppointment()"
        [hasBackwardButton]="true"
        [hasForwardButton]="true"
        [isInvalid]="false"
        backwardText="{{ 'navigation.revise' | translate }}"
        class="btn-next-large"
        forwardText="{{ 'poll.start' | translate }}"
      ></app-navigation>
    }
  </div>
</div>
