// this should not be necessary (w-100 on youtube-player should be enough),
// but there is a bug with responsiveness in the youtube player component right now:
// https://github.com/angular/components/issues/28829
youtube-player {
  position: relative;
  padding-top: 56.25%; // 16:9 ratio
}

:host ::ng-deep youtube-player > *, {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100%!important;
}

:host ::ng-deep youtube-player iframe {
  width: 100% !important;
  height: 100% !important;
}

img.back-btn {
  width: 1rem;
}
