<div class="container flex-grow-1">
  <header class="row justify-content-center align-items-center" id="head">
    <a class="col-2 col-md-3 w-auto" routerLink="/">
      <span class="sr-only">{{ 'header.home' | translate }}</span>
      <img
        aria-hidden="true"
        alt=""
        data-id="headerLogo"
        id="logo"
        ngSrc="assets/logo.svg"
        height="height"
        width="width">
    </a>
    <div class="col header-title h1" data-id="headerTitle">
      {{ headlineHome }}
    </div>
    <nav class="col-2 col-md-3" [attr.aria-label]="'header.navLabel' | translate">
      <ul class="d-flex flex-row flex-wrap list-unstyled justify-content-end align-items-baseline gap-1 mb-0">
        <li>
          <a
            class="rounded-circle p-1"
            routerLink="/sign-language"
            data-id="signLanguageNav"
            title="{{ 'header.navItems.signLanguage.buttonLabel' | translate }}"
          >
            <span class="sr-only">{{ 'header.navItems.signLanguage.buttonLabel' | translate }}</span>
            <img
              aria-hidden="true"
              alt=""
              ngSrc="assets/sign-language.svg"
              width="width"
              height="height">
          </a>
        </li>
        <li>
          <a
            class="rounded-circle p-1"
            routerLink="/plain-language"
            data-id="plainLanguageNav"
            title="{{ 'header.navItems.plainLanguage.buttonLabel' | translate }}"
          >
            <span class="sr-only">{{ 'header.navItems.plainLanguage.buttonLabel' | translate }}</span>
            <img
              aria-hidden="true"
              alt=""
              ngSrc="assets/book.svg"
              width="width"
              height="height">
          </a>
        </li>
        <li>
          <app-combobox
            [label]="'lang.languageSelect' | translate"
            [callback]="changeLanguage.bind(this)"
            [options]="[
              {value: 'Deutsch', callbackArgs: 'de-DE', dataId: 'langGerman'},
              {value: 'English', callbackArgs: 'en-EN', dataId: 'langEnglish'}
            ]"
            [defaultOptionIndex]="localeService.getLocale().languageCode === 'de-DE' ? 0 : 1"
            [dataId]="'languageDropdown'"
          />
        </li>
      </ul>
    </nav>
  </header>
  @if (connectionError) {
    <ngb-toast
      [autohide]="false"
      class="connectionError"
      data-cy="connectionErrorNotification"
    >
      Wichtige Bestandteile der Seite konnten nicht geladen werden. Bitte laden Sie die Seite neu!
    </ngb-toast>
  }
  <main class="row py-4 justify-content-center" id="main">
    <router-outlet></router-outlet>
  </main>
  <div class="row d-none d-lg-flex" id="bottom-edge"></div>
  <app-footer class="row justify-content-center py-2"></app-footer>
</div>
