<div class="container flex-grow-1">
  <header class="row justify-content-center align-items-center" id="head">
    <img alt="Logo" class="col-2 col-md-3" data-id="headerLogo" id="logo" ngSrc="assets/logo.svg" height="height"
         width="width">
    <h1 class="col header-title" data-id="headerTitle">
      {{ headlineHome }}
    </h1>
    <nav class="col-2 col-md-3 d-flex justify-content-end" [attr.aria-label]="'header.navLabel' | translate">
      <div class="d-inline-block" ngbDropdown placement="bottom-right">
        <label class="sr-only" id="language">{{ 'lang.language' | translate }}</label>
        <button
          class="btn btn-outline-primary"
          data-id="languageDropdown"
          ngbDropdownToggle
          title="{{ 'lang.language' | translate }}"
        >
          @if (localeService.getLocale().languageCode === 'de-DE') {
            DE
          } @else if (localeService.getLocale().languageCode === 'en-EN') {
            EN
          }
        </button>
        <div aria-labelledby="language" ngbDropdownMenu>
          <button ngbDropdownItem (click)="changeLanguage('de-DE')" class="dropdown-item" data-id="langGerman">
            Deutsch
          </button>
          <button ngbDropdownItem (click)="changeLanguage('en-EN')" class="dropdown-item" data-id="langEnglish">
            English
          </button>
        </div>
      </div>
    </nav>
  </header>
  @if (connectionError) {
    <ngb-toast
      [autohide]="false"
      class="connectionError"
      data-cy="connectionErrorNotification"
    >
      Wichtige Bestandteile der Seite konnten nicht geladen werden. Bitte laden Sie die Seite neu!
    </ngb-toast>
  }
  <main class="row g-0 py-4 justify-content-center" id="main">
    <router-outlet></router-outlet>
  </main>
  <div class="row g-0 d-none d-lg-flex" id="bottom-edge"></div>
  <app-footer class="row justify-content-center py-2"></app-footer>
</div>
