@import "src/default";
@import 'bootstrap/scss/mixins';

#email {
  color: var(--secondary, #{$secondary});
}

#contact {
  display: block;
  text-align: center;
  width: 100%;
  color: $footer-text-color;
  margin-bottom: 8px;
}

#contact * {
  font-size: $font-size-small-mobile;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-small;
  }
}

#contact img {
  width: 60px;
  height: 60px;
}

#contact > a {
  color: var(--secondary, #{$secondary});
}

#contact > a:hover {
  color: var(--secondary, #{$secondary});
  text-decoration: underline;
}

#reference {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0 4px 0 4px;
  color: $footer-text-color;
  margin-bottom: 8px;
  font-size: $font-size-small-mobile;

  a {
    color: $footer-text-color;
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-small;
  }
}

#oss-code {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 4px 0 4px;
  margin-bottom: 8px;

  a {
    padding: 4px;

    img {
      width: 24px;
      @include media-breakpoint-up(lg) {
        width: 32px;
      }
    }
  }
}

#links {
  margin-top: 1em;
  display: contents;

  a {
    font-size: $font-size-small-mobile;
    @include media-breakpoint-up(lg) {
      font-size: $font-size-small;
    }
    color: var(--dark-gray, #{$dark-gray});
    margin: 0 4px 0 4px;
  }
}

#impressum {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 10pt;
}
