@import './poll.component';

.form-control {
  appearance: auto
}

.poll-table.mobile td {
  vertical-align: middle;
  padding: 0;
  border: unset;
}

.btn.btn-transparent {
  display: inline-block;
  width: 45px;
  height: 100%;
  vertical-align: middle;
  outline-offset: 0;
}

.btn.btn-trash {
  @include focus-outline;
}

.poll-table td.suggested-date {
  width: 150px;
}

.toolbar {
  background-color: $s-h-blue-15;
  min-height: 50px;
}

.poll-table td.total-participants {
  padding: 0;
  width: 60px;
}

.poll-table.mobile td.poll-options > img {
  margin-left: auto;
  margin-right: 1rem;
}
