@import './poll.component';

.form-control {
  appearance: auto
}

.poll-table.mobile {
  overflow-x: hidden;

  td {
    vertical-align: middle;
    padding: 0;
    border-width: 1px 0 0 !important;
  }
}

.btn.btn-transparent {
  display: inline-block;
  width: 45px;
  height: 100%;
  vertical-align: middle;
  outline-offset: 0;
}

.btn.btn-trash {
  @include focus-outline;
}

.poll-table td.suggested-date {
  @media (min-width: map-get($grid-breakpoints, sm)) {
    width: 150px;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    width: 180px;
  }
}

.toolbar {
  background-color: $s-h-blue-15;
  min-height: 50px;
}

.poll-table td.total-participants {
  padding: 0;

  .voting-status-summary-number {
    font-size: 1.8rem;
  }
}

.poll-table.mobile td.poll-options {
  min-width: max-content;

  > img {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.voting-status-summary-image img {
  display: block;
}

@media (max-width: 300px) {
  .poll-table td.total-participants {
    .voting-status-summary-number {
      font-size: 1.35rem;
    }

    .voting-status-summary-image img {
      width: $poll-option-width-small * 0.75;
      height: $poll-option-width-small * 0.75;
    }
  }
}
