@if (model) {
  <div class="row justify-content-center">
    <div class="col-12 text-center">
    </div>
    <div class="col-12">
      <h1 class="text-center" data-id="pollHeading">
        {{ 'poll.answer' | translate }} {{ model.name }}
      </h1>
    </div>
  </div>
}
<div class="row mt-4 justify-content-center">
  @if (apiError) {
    <app-message-box [message]="apiError"></app-message-box>
  }
</div>
@for (notification of localUserNotifications; track notification) {
  <div class="col my-2 alert alert-warning">
    {{ notification.message }}
  </div>
}
@if (formHelper) {
  <form [formGroup]="formHelper.pollForm">
    <div class="row mx-3">
      <div class="col">
        @if (model) {
          <div class="section-container">
            <div class="pt-2 px-3">
              <app-appointment-summary [appointment]="model" [showUsername]="false"></app-appointment-summary>
            </div>
            @if (isAppointmentPaused) {
              <div class="alert alert-secondary" role="alert">
                {{ 'poll.paused' | translate }}
              </div>
            }
            <div class="divider">
              <div class="d-lg-none font-small font-weight-bold px-3 py-2" data-id="numberParticipants">
                {{ formHelper.getNumberOfParticipants() }} {{ 'participant.participants' | translate }}
              </div>
            </div>
            <!-- mobile table -->
            <app-mobile-poll-table></app-mobile-poll-table>
            <!-- desktop table -->
            <table class="table table-striped table-hover mb-0 bordered poll-table d-none d-lg-block">
              <!-- first row contains the suggested dates -->
              <thead class="h-100" data-id="tableHead">
              <tr class="h-100">
                <th>
                  <button
                    (click)="formHelper.downloadCsv()"
                    class="download-csv btn btn-rounded btn-sm btn-light"
                    data-id="downloadCsvButton"
                    data-placement="top"
                    data-toggle="tooltip"
                    id="download-csv"
                    title="{{ 'poll.downloadCsv' | translate }}"
                    type="button"
                  >
                    <img alt="{{ 'poll.downloadCsv' | translate }}" aria-hidden="true" src="assets/calendar_grey.svg">
                  </button>
                </th>
                @for (date of model.suggestedDates; track date; let i = $index) {
                  <th
                    class="suggested-date text-center font-weight-normal">
                    <div class="table-header-content">
                      <app-suggested-date [date]="date" id="suggested-date-{{i}}"></app-suggested-date>
                      <div class="spacer"></div>
                      <button
                        (click)="formHelper.downloadCal(date, i)"
                        class="download-cal btn btn-rounded btn-sm btn-light"
                        data-placement="top"
                        data-toggle="tooltip"
                        id="download-cal-{{i}}"
                        title="{{ 'poll.downloadIcs' | translate }}"
                        type="button"
                      >
                        <img alt="{{ 'poll.downloadIcs' | translate }}" aria-hidden="true" src="assets/download.svg">
                      </button>
                    </div>
                  </th>
                }
              </tr>
              </thead>
              <tbody data-id="tableBody">
              <!-- summary row -->
              <tr class="poll-summary-row">
                <td class="total-participants">
                  <div class="row g-0 align-items-center justify-content-between mx-2">
                    <!-- total participants -->
                    <div class="col-7 ml-3 font-small text-bold participant-summary" data-id="participantSummary">
                      {{ formHelper.getNumberOfParticipants() }} {{ 'participant.participants' | translate }}
                    </div>
                    <!-- button to add a participant -->
                    @if (!formHelper.hasAddOrEditParticipantForm() && !isAppointmentPaused) {
                      <div class="col-4">
                        <button
                          (click)="formHelper.addParticipant()"
                          class="btn btn-round btn-secondary btn-add-participant float-end"
                          data-id="addParticipantButton"
                          data-placement="top"
                          data-toggle="tooltip"
                          id="add-participant"
                          title="{{ 'poll.addParticipant' | translate }}"
                          type="button"
                        >
                          <img alt="" aria-hidden="true" class="add-participant-icon" src="assets/add-user.svg">
                        </button>
                      </div>
                    }
                  </div>
                </td>
                <!-- amount of confirmations per date -->
                @for (date of model.suggestedDates; track date; let index = $index) {
                  <td class="text-center poll-summary-data-cell">
                    <div
                      class="row g-0 justify-content-center voting-status-summary-suggestion-date align-items-center">
                      <div class="d-inline-block voting-status-summary-image">
                        <img alt="checkmark" aria-hidden="true" class="align-text-bottom"
                             src="assets/status_accepted.svg">
                      </div>
                      <div class="font-weight-bold d-inline-block voting-status-summary-number"
                           id="summary-column-{{index}}">
                        {{ formHelper.getNumberOfAcceptedVotingsBySuggestedDate(date.suggestedDateId) }}
                      </div>
                    </div>
                  </td>
                }
              </tr>
              <!-- ui elements to add a participant -->
                @if (formHelper.hasAddParticipantForm()) {
                  <tr (keydown.enter)="$event.preventDefault()"
                      [formGroup]="formHelper.getParticipantForm()"
                      class="poll-add-user-row">
                    <td class="p-2 poll-data-cell name">
                      <div class="row g-0 invalid-message-highlight" aria-live="assertive">
                        <!-- name -->
                        <div
                          [ngClass]="{'has-error': formHelper.getParticipantFormName().invalid
                  && (formHelper.getParticipantFormName().dirty || formHelper.getParticipantFormName().touched)}"
                          class="col-10 form-group">
                          <label class="sr-only" for="name-add">{{ 'poll.details.name.name' | translate }}</label>
                          <input
                            required
                            appAutoFocus
                            class="form-control ml-2 name-add"
                            data-id="nameInput"
                            formControlName="name"
                            id="name-add"
                            placeholder="{{ 'participant.name' | translate }}"
                            type="text"
                            aria-describedby="no-name-add invalid-add-name too-long-add"
                          >
                        </div>
                        <!-- button to remove the form elements (so the participant won't be added) -->
                        <div class="col-2 d-flex align-items-center justify-content-center">
                          <button
                            (click)="formHelper.deleteParticipantForm()"
                            class="btn btn-transparent btn-trash w-100 h-100 ml-auto mr-0"
                            data-id="deleteParticipantButton"
                            id="delete-new-participant"
                            type="button"
                          >
                            <img alt="trashcan" class="icon" src="assets/trash.svg"/>
                          </button>
                        </div>
                        <div class="w-100"></div>
                        <!-- validation messages -->
                        <div class="col-auto">
                          @if ((formHelper.getParticipantFormName().dirty || formHelper.getParticipantFormName().touched)
                          && !!formHelper.getParticipantFormName().errors?.required) {
                            <div
                              class="invalid-message ml-2"
                              data-id="noNameMsg"
                              id="no-name-add"
                            >
                              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                              {{ 'poll.details.name.noName' | translate }}
                            </div>
                          }
                          @if (!!formHelper.getParticipantFormName().errors?.invalidName) {
                            <div
                              class="invalid-message"
                              data-id="nameInvalidMsg"
                              id="invalid-add-name"
                            >
                              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                              {{ 'poll.details.name.invalid' | translate }}
                            </div>
                          }
                          @if (!!formHelper.getParticipantFormName().errors?.maxlength) {
                            <div
                              class="invalid-message"
                              data-id="tooLongMsg"
                              id="too-long-add"
                            >
                              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                              {{ 'poll.details.name.tooLong' | translate }}
                            </div>
                          }
                        </div>
                      </div>
                    </td>
                    <!-- the new participant's poll options -->
                    @if (formHelper.getParticipantFormVotings()) {
                      @for (voting of formHelper.getParticipantFormVotings().controls; track voting; let j = $index) {
                        <td
                          [formGroup]="formHelper.castToFormGroup(voting)"
                          class="p-0 align-middle"
                        >
                          <app-poll-options
                            [formGroup]="formHelper.castToFormGroup(voting)"
                            [isMobile]="false"
                            [selectorId]="j + ''"
                          ></app-poll-options>
                        </td>
                      }
                    }
                  </tr>
                }
              <!-- display the votings of all participants -->
                @for (participant of model.participants; track participant; let index = $index) {
                  <tr
                    [ngClass]="{'poll-edit-user-row': formHelper.isEditInParticipantForm(participant.participantId)}">
                    <!-- if the current row is not being edited just display the name & votes of the participant -->
                    @if (!formHelper.isEditInParticipantForm(participant.participantId)) {
                      <td class="pl-3">
                        <div class="participant-container">
                          <!-- name -->
                          <span class="text-bold">{{ participant.name }}</span>
                          <!-- button to edit the participant -->
                          @if (!formHelper.hasAddParticipantForm() && !formHelper.hasEditParticipantForm() && !isAppointmentPaused) {
                            <span
                              class="float-end"
                            >
                              <button
                                (click)="formHelper.editParticipant(participant)"
                                class="btn btn-transparent p-0 border-0"
                                id="editButton-{{index}}"
                                type="button"
                              >
                                <img alt="pencil" class="icon icon-edit" src="assets/edit.svg"/>
                              </button>
                            </span>
                          }
                        </div>
                      </td>
                      @for (date of model.suggestedDates; track date) {
                        <td class="td-full-height">
                          <div class="h-100 d-flex align-items-center">
                            <!--suppress HtmlUnknownTarget no inspection for this dynamic src path -->
                            <img
                              alt="voting-status"
                              aria-hidden="true"
                              class="mx-auto d-block poll-option-icon" src="assets/status_{{
                    formHelper.getVotingStatusBySuggestedDateIdAndParticipantId(date.suggestedDateId, participant.participantId)
                    }}.svg">
                          </div>
                        </td>
                      }
                    }
                    <!-- if the current row _is_ being edited display the ui-elements for altering the name and votes of the participant -->
                    @if (formHelper.isEditInParticipantForm(participant.participantId)) {
                      <td (keydown.enter)="$event.preventDefault()"
                          [formGroup]="formHelper.getParticipantForm()" class="p-2 poll-data-cell name">
                        <div class="row g-0 invalid-message-highlight" aria-live="assertive">
                          <!-- name input -->
                          <div
                            [ngClass]="{'has-error': formHelper.getParticipantFormName().invalid  &&
                    (formHelper.getParticipantFormName().dirty || formHelper.getParticipantFormName().touched)}"
                            class="col-10 form-group">
                            <label
                              class="sr-only"
                              data-id="nameEditLabel"
                              for="name-edit"
                            >
                              {{ 'poll.details.name.name' | translate }}
                            </label>
                            <input
                              required
                              class="form-control ml-2"
                              data-id="nameEditInput"
                              formControlName="name"
                              id="name-edit"
                              placeholder="{{ 'participant.name' | translate }}"
                              type="text"
                              aria-describedby="no-name-edit invalid-edit-name too-long-edit"
                            >
                          </div>
                          <!-- button to delete the currently edited participant -->
                          <div class="col-2 d-flex align-items-center justify-content-center">
                            <button
                              (click)="formHelper.deleteEditParticipant(participant)"
                              class="btn btn-transparent btn-trash w-100 h-100 ml-auto mr-0"
                              data-id="deleteEditedParticipantButton"
                              id="delete-edit-participant"
                              type="button"
                            >
                              <img alt="trashcan" class="icon" src="assets/trash.svg"/>
                            </button>
                          </div>
                          <div class="w-100"></div>
                          <!-- validation messages -->
                          <div class="col-auto">
                            @if (formHelper.getParticipantFormName()
                            && (formHelper.getParticipantFormName().dirty || formHelper.getParticipantFormName().touched)
                            && !!formHelper.getParticipantFormName().errors?.required) {
                              <div
                                class="invalid-message" id="no-name-edit">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {{ 'poll.details.name.noName' | translate }}
                              </div>
                            }
                            @if (formHelper.getParticipantFormName() && !!formHelper.getParticipantFormName().errors?.invalidName) {
                              <div
                                class="invalid-message"
                                id="invalid-edit-name"
                              >
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {{ 'poll.details.name.invalid' | translate }}
                              </div>
                            }
                            @if (formHelper.getParticipantFormName() && !!formHelper.getParticipantFormName().errors?.maxlength) {
                              <div class="invalid-message" id="too-long-edit">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {{ 'poll.details.name.tooLong' | translate }}
                              </div>
                            }
                          </div>
                        </div>
                      </td>
                      <!-- poll options per date -->
                      @for (date of model.suggestedDates; track date) {
                        <td class='p-0 align-middle'>
                          @for (voting of formHelper.getParticipantFormVotings().controls; track voting; let j = $index) {
                            <ng-container
                              [formGroup]="formHelper.castToFormGroup(voting)"
                              class="row g-0 justify-content-around align-items-center align-self-center"
                            >
                              @if (formHelper.isVotingFromSuggestedDate(date, voting)) {
                                <app-poll-options
                                  [formGroup]="formHelper.castToFormGroup(voting)"
                                  [isMobile]="false"
                                  [selectorId]="j + ''"
                                ></app-poll-options>
                              }
                            </ng-container>
                          }
                        </td>
                      }
                    }
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
      </div>
    </div>
    @if (surveyLinkUser) {
      <div class="row mx-3">
        <div class="col">
          <div class="section-container">
            <div class="pt-3 pb-4 px-3">
              {{ 'links.satisfactionSurvey' | translate }}
              <div class="d-flex justify-content-end">
                <button
                  (click)="navigate(surveyLinkUser)"
                  class="btn btn-transparent text-primary btn-with-image"
                  data-id="surveyLinkNavigate"
                  type="button"
                >
                  {{ 'links.satisfactionSurveyButton' | translate }}
                  <img alt="create" src="assets/icn_umfrage_erstellen_primary.svg">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    @if (model && !isAppointmentPaused) {
      <div class="row mx-3">
        <app-tos [tosFormGroup]="formHelper.pollForm" data-id="tos"></app-tos>
        @if (formHelper.hasParticipantVotings() && !formHelper.hasParticipantAcceptedOrQuestionableVotings()) {
          <div
            class="align-items-center">
            <button
              (click)="sendReply()"
              [attr.aria-disabled]="isFormInvalid()"
              [ngClass]="{'disabled': isFormInvalid()}"
              class="btn btn-secondary w-100"
              data-id="submitNoParticipationButton"
              id="create-poll-negative"
              type="submit"
            >
              <span>{{ 'poll.noParticipation' | translate }}</span>
            </button>
          </div>
        } @else {
          <div class="row g-0 justify-content-end align-items-center">
            @if (formHelper.hasParticipantVotings()) {
              <div
                class="col-3 d-inline-flex align-items-center justify-content-end text-right mr-4">
                <img alt="" aria-hidden="true" class="circle-tag" src="assets/status_accepted.svg">
                <div class="font-weight-bold voting-status-summary-added-participants pe-3" data-id="addedParticipation">
                  {{ formHelper.getNumberOfVotingsWithVotingStatusAcceptedOfAddedParticipant() | leadingZero: 2 }}
                </div>
              </div>
            }
            <div class="col-auto">
              <button
                (click)="sendReply()"
                [attr.aria-disabled]="isFormInvalid()"
                [ngClass]="{'disabled': isFormInvalid()}"
                class="btn btn-secondary btn-with-image btn-next align-self-end"
                data-id="submitPoll"
                id="create-poll"
                type="submit"
              >
                {{ 'poll.send' | translate }}
              </button>
            </div>
          </div>
        }
      </div>
    }
  </form>
}
