@if (showAppointmentUrl() && absoluteAppointmentUrl) {
  <div class="row g-0 mb-3">
    <div class="col-auto align-self-center mr-2">
      <img aria-hidden="true" alt="" class="icon" src="assets/calendar_grey.svg"/>
    </div>
    <div class="col align-self-top">
      <div id="overview-url-label" class="header" data-cy="overviewUrlLabel">{{ 'links.invite.base' | translate }}</div>
      <div class="value" data-cy="overviewUrlValue" id="url">
        <a [href]="absoluteAppointmentUrl" target="_blank" aria-labelledby="overview-url-label">{{ absoluteAppointmentUrl }}</a>
        <button
          [cbContent]="absoluteAppointmentUrl"
          class="btn btn-transparent m-0 p-0"
          data-cy="inviteLinkCopy"
          ngbTooltip="{{ 'links.invite.copy' | translate }}"
          ngxClipboard
          type="button"
        >
          <img alt="{{ 'links.invite.copy' | translate }}" class="icon" src="assets/copy.svg">
        </button>
      </div>
    </div>
  </div>
}
@if (showUsername() && appointment().name) {
  <div class="row g-0 mb-3">
    <div class="col-auto align-self-center mr-2">
      <img aria-hidden="true" alt="" class="icon" src="assets/user.svg"/>
    </div>
    <div class="col align-self-top">
      <div class="header" data-cy="overviewNameLabel">{{ 'poll.details.name.name' | translate }}</div>
      <div class="value" data-cy="overviewNameValue" id="name">{{ appointment().name }}</div>
    </div>
  </div>
}
@if (appointment().title) {
  <div class="row g-0 mb-3">
    <div class="col-auto align-self-center mr-2">
      <img aria-hidden="true" alt="" class="icon" src="assets/title.svg"/>
    </div>
    <div class="col align-self-top">
      <div class="header" data-cy="overviewTitleLabel">{{ 'poll.title.title' | translate }}</div>
      <div class="value" data-cy="overviewTitleValue" id="title">{{ appointment().title }}</div>
    </div>
  </div>
}
@if (appointment().location) {
  <div class="row g-0 mb-3">
    <div class="col-auto align-self-center mr-2">
      <img aria-hidden="true" alt="" class="icon" src="assets/location.svg"/>
    </div>
    <div class="col align-self-top">
      <div class="header" data-cy="overviewPlaceLabel">{{ 'poll.details.place.place' | translate }}</div>
      <div class="value" data-cy="overviewPlaceValue" id="location">{{ appointment().location }}</div>
    </div>
  </div>
}
@if (appointment().description) {
  <div class="row g-0 mb-3">
    <div class="col-auto align-self-center mr-2">
      <img aria-hidden="true" alt="" class="icon" src="assets/description.svg"/>
    </div>
    <div class="col align-self-top">
      <div class="header" data-cy="overviewDescriptionLabel">
        {{ 'poll.details.description.description' | translate }}
      </div>
      <div data-cy="overviewDescriptionValue" id="descriptionContainer">
        <div #description [innerHTML]="getDescription()" id="description"></div>
      </div>
    </div>
  </div>
}
@if (showDeleteWarning()) {
  <div class="row g-0 mb-3">
    <div class="col-auto align-self-center mr-2">
      <img aria-hidden="true" alt="" class="icon" src="assets/delete_gray.svg"/>
    </div>
    <div class="col align-self-top">
      <div class="header" data-cy="overviewDeleteLabel">{{ 'poll.details.delete.deleteDate' | translate }}</div>
      <div class="value" data-cy="overviewDeleteValue" id="delete">
        {{ 'poll.details.delete.willBeDeleted' | translate }}
      </div>
    </div>
  </div>
}
