<div *ngIf="showUsername && appointment.name" class="row no-gutters mb-3">
  <div class="col-auto align-self-center mr-2">
    <img alt="user" class="icon" src="assets/user.svg"/>
  </div>
  <div class="col align-self-top">
    <div class="header" data-id="overviewNameLabel">{{ 'poll.details.name.name' | translate }}</div>
    <div class="value" data-id="overviewNameValue" id="name">{{appointment.name}}</div>
  </div>
</div>
<div *ngIf="appointment.title" class="row no-gutters mb-3">
  <div class="col-auto align-self-center mr-2">
    <img alt="title" class="icon" src="assets/title.svg"/>
  </div>
  <div class="col align-self-top">
    <div class="header" data-id="overviewTitleLabel">{{ 'poll.title.title' | translate }}</div>
    <div class="value" data-id="overviewTitleValue" id="title">{{appointment.title}}</div>
  </div>
</div>
<div *ngIf="appointment.location" class="row no-gutters mb-3">
  <div class="col-auto align-self-center mr-2">
    <img alt="location" class="icon" src="assets/location.svg"/>
  </div>
  <div class="col align-self-top">
    <div class="header" data-id="overviewPlaceLabel">{{ 'poll.details.place.place' | translate }}</div>
    <div class="value" data-id="overviewPlaceValue" id="location">{{appointment.location}}</div>
  </div>
</div>
<div *ngIf="appointment.description" class="row no-gutters mb-3">
  <div class="col-auto align-self-center mr-2">
    <img alt="description" class="icon" src="assets/description.svg"/>
  </div>
  <div class="col align-self-top">
    <div class="header"
         data-id="overviewDescriptionLabel">{{ 'poll.details.description.description' | translate }}</div>
    <div data-id="overviewDescriptionValue" id="descriptionContainer">
      <div #description class="collapse value" id="description">{{appointment.description}}</div>
      <a
        [hidden]="!moreButtonRequired"
        aria-controls="description"
        aria-expanded="false"
        class="collapsed float-right pt-2"
        data-toggle="collapse"
        href="#description"
      ></a>
    </div>
  </div>
</div>
