<div class="row g-0 justify-content-center">
  <div class="col-11 col-lg-8">
    <app-ad-icons></app-ad-icons>
    <div class="row justify-content-center my-2 my-lg-4">
      <h1 class="text-center" data-id="locked">
        {{ 'password.locked' | translate }}
      </h1>
    </div>
    <div class="row g-0 justify-content-center">
      <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm" class="col">
        <div class="form-row justify-content-center">
          <label class="col h3" data-id="enter" for="password">
            {{ 'password.enter' | translate }}
          </label>
        </div>
        <div class="form-row">
          <div class="col invalid-message-highlight" aria-live="assertive">
            <input
              aria-hidden="true"
              autocomplete="off"
              class="d-none"
              id="hidden-username"
              spellcheck="false"
              tabindex="-1"
              title="user"
              type="text"
              value=""
            >
            <input
              required
              (ngModelChange)="this.showIsInvalid = false;"
              appAutoFocus
              autocomplete="current-password"
              class="form-control"
              data-id="passwordInput"
              formControlName="password"
              id="password"
              placeholder="{{ 'password.placeholder' | translate }}"
              type="password"
              aria-describedby="invalid"
            >
            @if (showIsInvalid && isInvalid) {
              <div
                class="invalid-message"
                data-id="msgInvalid"
                id="invalid"
              >
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ 'password.invalid' | translate }}
              </div>
            }
          </div>
        </div>
        <div class="form-row justify-content-center mt-3">
          <div class="col pt-3">
            @if (!isAdmin) {
              <button
                [attr.aria-disabled]="passwordForm.invalid"
                [ngClass]="{'disabled': passwordForm.invalid}"
                class="btn btn-secondary btn-submit w-100"
                data-id="userButton"
                type="submit"
              >
                <span class="icon-create-poll"></span>
                {{ 'poll.participate' | translate }}
                <img alt="{{ 'poll.participate' | translate }}"
                     class="icon-create-poll"
                     src="assets/icn_umfrage_erstellen.svg"
                >
              </button>
            }
            @if (isAdmin) {
              <button
                [attr.aria-disabled]="passwordForm.invalid"
                [ngClass]="{'disabled': passwordForm.invalid}"
                class="btn btn-secondary btn-submit w-100"
                data-id="adminButton"
                type="submit"
              >
                <span class="icon-create-poll"></span>
                {{ 'poll.edit' | translate }}
                <img alt="{{ 'poll.edit' | translate }}"
                     class="icon-create-poll"
                     src="assets/icn_umfrage_erstellen.svg"
                >
              </button>
            }
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
