@import "src/default";
@import 'bootstrap/scss/mixins';

.form-control {
  font-size: $font-size-medium-mobile;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-medium;
  }
}

.input-group button {
  background-color: white;
  border-radius: 0 .5rem .5rem 0;
  border-color: var(--primary-background-color, #{$primary-background-color}) !important;

  &:focus {
    border-color: var(--focus-border, #{$focus-border}) !important;
  }
}

.btn-submit {
  display: flex;
  color: $btn-text;
  background: var(--secondary, #{$secondary});
  background-origin: content-box;
  background-size: $form-icon-width * 0.6 $form-icon-height * 0.6;
  align-items: center;
  justify-content: space-between;
  @include media-breakpoint-up(lg) {
    background-size: $form-icon-width $form-icon-height;
  }
}

.icon-create-poll {
  height: $form-icon-height;
  width: $form-icon-height;
}
