<div class="row justify-content-center">
  <div class="col col-lg-10">
    <div class="row no-gutters justify-content-between">
      <div class="col">
        <img alt="Plane" data-id="planningLogo" src="assets/search.svg">
        <h3 class="text-center d-none d-lg-block" data-id="planningText">{{ 'home.planning' | translate }}</h3>
      </div>
      <div class="col">
        <img alt="Sicher" data-id="securityLogo" src="assets/lock.svg">
        <h3 class="text-center d-none d-lg-block" data-id="securityText">{{ 'home.security' | translate }}</h3>
      </div>
      <div class="col">
        <img alt="Vernetzt" data-id="networkingLogo" src="assets/calendar_network.svg">
        <h3 class="text-center d-none d-lg-block" data-id="networkingText">{{ 'home.networking' | translate }}</h3>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3 mt-lg-5">
  <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm" class="col">
    <div class="form-row justify-content-center">
      <div class="col">
        <h2 class="text-center" data-id="locked">{{ 'password.locked' | translate }}</h2>
        <label class="primary text-center w-100 h3" data-id="enter" for="password">
          {{ 'password.enter' | translate }}
        </label>
      </div>
    </div>
    <div class="d-flex form-row justify-content-center mt-3">
      <div class="col col-lg-8">
        <input
          aria-hidden="true"
          autocomplete="off"
          class="d-none"
          id="hidden-username"
          spellcheck="false"
          tabindex="-1"
          title="user"
          type="text"
          value=""
        >
        <input
          (ngModelChange)="this.showIsInvalid = false;"
          appAutoFocus
          autocomplete="current-password"
          class="form-control"
          data-id="passwordInput"
          formControlName="password"
          id="password"
          placeholder="{{ 'password.placeholder' | translate }}"
          required
          type="password"
        >
        <div
          *ngIf="showIsInvalid && isInvalid"
          class="invalid-message"
          data-id="msgInvalid"
        >
          {{ 'password.invalid' | translate }}
        </div>
      </div>
    </div>
    <div class="d-flex form-row justify-content-center mt-3">
      <div class="col col-lg-8 pt-3">
        <button
          *ngIf="!isAdmin"
          [disabled]="passwordForm.invalid"
          class="btn btn-secondary btn-submit w-100"
          data-id="userButton"
          type="submit"
        >
          <span class="icon-create-poll"></span>
          {{ 'poll.participate' | translate }}
          <img alt="{{ 'poll.participate' | translate }}"
               class="icon-create-poll"
               src="assets/icn_umfrage_erstellen.svg"
          >
        </button>
        <button
          *ngIf="isAdmin"
          [disabled]="passwordForm.invalid"
          class="btn btn-secondary btn-submit w-100"
          data-id="adminButton"
          type="submit"
        >
          <span class="icon-create-poll"></span>
          {{ 'poll.edit' | translate }}
          <img alt="{{ 'poll.edit' | translate }}"
               class="icon-create-poll"
               src="assets/icn_umfrage_erstellen.svg"
          >
        </button>
      </div>
    </div>
  </form>
</div>
