<div class="row justify-content-around mt-3">
  @if (hasBackwardButton) {
    <div class="col">
      <button
        (click)="onBack()"
        class="btn btn-primary btn-with-image btn-back w-100"
        data-id="back"
        id="back"
        type="button"
      >
        {{ backwardText }}
      </button>
    </div>
  }
  @if (hasForwardButton) {
    <div class="col">
      <button
        (click)="onSubmit()"
        [attr.aria-disabled]="isInvalid"
        [ngClass]="{'disabled': isInvalid}"
        class="btn btn-secondary btn-with-image btn-next w-100"
        data-id="next"
        id="next"
        type="button"
      >
        {{ forwardText }}
      </button>
    </div>
  }
</div>
