@import "default";

$colors: (
  primary: $primary,
  primary-lighter-10: $primary-lighter-10,
  secondary: $secondary,
  light-gray: $light-gray,
  medium-gray: $medium-gray,
  dark-gray: $dark-gray,
  focus-border: $primary,
  toolbar-background-color: $toolbar-background-color,
  primary-background-color: $primary-background-color,
  danger: $danger,
  bootstrap-form-control-color: $bootstrap-form-control-color
);

$inheritingColors: (
  footer-text-color: var(--secondary, #{$secondary}),
  border-color-input: var(--medium-gray, #{$medium-gray}),
  border-color-divider-icon-input: var(--medium-gray, #{$medium-gray})
);

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }

  @each $key, $value in $inheritingColors {
    --#{$key}: #{$value};
  }
}
