@import "default";

$colors: (
  primary: $primary,
  primary-lighter-10: #004691,
  secondary: $secondary,
  light-gray: $light-gray,
  medium-gray: $medium-gray,
  dark-gray: $dark-gray,
  s-h-blue: $primary,
  s-h-blue-50: $s-h-blue-50,
  s-h-blue-15: $s-h-blue-15,
  s-h-light-blue: $s-h-light-blue,
  danger: $danger,
  bootstrap-form-control-color: $bootstrap-form-control-color
);

$inheritingColors: (
  footer-text-color: var(--secondary, #{$secondary}),
  border-color-input: var(--medium-gray, #{$medium-gray}),
  border-color-divider-icon-input: var(--medium-gray, #{$medium-gray}),
  toolbar-background-color: var(--s-h-blue-15, #{$s-h-blue-15}),
  primary-background-color: var(--s-h-light-blue, #{$s-h-light-blue})
);

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }

  @each $key, $value in $inheritingColors {
    --#{$key}: #{$value};
  }
}
