/*
 This __env variable will be changed after the build process.
 */

window['__env'] = {
  version: @VERSION@,
  buildDateUtc: @BUILD_DATE@,
  surveyLinkAdmin: @SURVEY_LINK_ADMIN@,
  surveyLinkUser: @SURVEY_LINK_USER@,
  title: @TITLE@,
  locale: @LOCALE@,
  addressing: @ADDRESSING@,
  apiBaseUrl: @API_URL@,
  email: @EMAIL@,
  showReference: @SHOW_REFERENCE@,
  customerId: @CUSTOMER_ID@,
  imprint: @IMPRINT@,
  privacy: @PRIVACY@,
  termsOfService: @TOS@,
  accessibility: @ACCESSIBILITY@,
  apiRequestTimeoutInMs: @API_REQUEST_TIMEOUT_IN_MS@,
  colors: @COLORS@
};
