<!-- @GENERATED_COMMENT_TS@ -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <title>@TITLE@</title>
  <base href="/">

  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="favicon.ico?v=2" rel="icon" type="image/x-icon">
</head>
<body>
<app-root></app-root>
</body>
</html>
