<div class="row g-0 justify-content-center">
  <div class="col-11 col-lg-8">
    @if (isDev()) {
      <div class="row alert alert-warning" data-id="testBanner">
        {{ 'home.testEnvironmentBanner' | translate:derivateTitle }}
      </div>
    }
    @for (notification of localUserNotifications; track notification) {
      <div class="row alert alert-warning">
        {{ notification.message }}
      </div>
    }
    <app-ad-icons></app-ad-icons>
    <div class="row justify-content-center my-2 my-lg-4" data-id="createPollSlogan">
      <h1 class="text-center">
        {{ 'home.slogan' | translate }}
      </h1>
    </div>
    <div class="row g-0 justify-content-center">
      <form (ngSubmit)="onSubmit()"
            [formGroup]="titleForm"
            class="col"
            [attr.aria-label]="'home.formLabel' | translate">
        <div class="form-row justify-content-center">
          <label class="col" data-id="createPollLabel" for="title">{{ 'poll.title.set' | translate }}</label>
        </div>
        <div class="form-row mb-2">
          <div class="col invalid-message-highlight" aria-live="assertive">
            <input
              required
              class="form-control"
              data-id="createPollInput"
              formControlName="title"
              id="title"
              placeholder="{{ 'poll.title.placeholder' | translate }}"
              aria-describedby="required-title invalid-title long-title"
              type="text">
            @if ((title.dirty || title.touched) && !!title.errors?.required) {
              <div
                class="invalid-message"
                data-id="msgRequiredTitle"
                id="required-title"
              >
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ 'poll.title.noTitle' | translate }}
              </div>
            }
            @if (!!title.errors?.invalidName) {
              <div
                class="invalid-message"
                data-id="msgInvalidTitle"
                id="invalid-title"
              >
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ 'poll.title.invalid' | translate }}
              </div>
            }
            @if (!!title.errors?.maxlength) {
              <div
                class="invalid-message"
                data-id="msgLongTitle"
                id="long-title"
              >
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ 'poll.title.tooLong' | translate }}
              </div>
            }
          </div>
        </div>
        <app-tos [tosFormGroup]="titleForm" data-id="tosComponent"></app-tos>
        <div class="form-row mt-2">
          <div class="col pt-3">
            <button
              [attr.aria-disabled]="titleForm.invalid"
              [ngClass]="{'disabled': titleForm.invalid}"
              class="btn btn-secondary w-100"
              data-id="createPollButton"
              id="btn-submit"
              type="submit"
            >
              <span class="icon-create-poll"></span>
              {{ 'poll.create' | translate }}
              <img alt="" class="icon-create-poll" src="assets/icn_umfrage_erstellen.svg">
            </button>
          </div>
        </div>
      </form>
    </div>
    @if (apiError) {
      <div class="row mt-2">
        <div class="col">
          <app-message-box [message]="apiError" data-id="apiErrorComponent"></app-message-box>
        </div>
      </div>
    }
  </div>
</div>
