<div class="row g-0 justify-content-between" data-id="adIcons">
  <div class="col">
    <img alt="Planung" src="assets/search.svg">
    <span class="text-center d-none d-lg-block text-bold circle-text">{{ 'home.planning' | translate }}</span>
  </div>
  <div class="col">
    <img alt="Sicherheit" src="assets/lock.svg">
    <span class="text-center d-none d-lg-block text-bold circle-text">{{ 'home.security' | translate }}</span>
  </div>
  <div class="col">
    <img alt="Vernetzung" src="assets/calendar_network.svg">
    <span class="text-center d-none d-lg-block text-bold circle-text">{{ 'home.networking' | translate }}</span>
  </div>
</div>
