<div class="row g-0 mb-1 justify-content-center text-center suggested-date-container">
  <!-- column on the left or centered with start date and - for desktop resolutions - start and end time  -->
  <div class="col-5 column position-relative">
    <!-- start date -->
    <div>{{ date.startDate | date:'MMM': '': getLocale() | slice: 0:3 }}</div>
    <div class="day">{{ date.startDate | date:'dd': '': getLocale() }}</div>
    <div>{{ date.startDate | date:'E': '': getLocale() | slice: 0:2 }}</div>
    <!-- display start time here if:
      - there's an end date OR
      - on a desktop (lg+) device -->
    <div [ngClass]="{'d-none': !date.endDate}"
         class="d-lg-block">{{ date.startTime | date:'HH:mm': '': getLocale() }}
    </div>
    <!-- display hyphen and endTime if:
    - on a desktop (lg+) device AND
    - if there's no end date  -->
    <div [ngClass]="{'d-lg-block': date.endTime && !date.endDate}"
         class="position-absolute d-none hyphen start-0 end-0">
      -
    </div>
    <div [ngClass]="{'d-lg-block': date.endTime && !date.endDate}"
         class="d-none">{{ date.endTime | date:'HH:mm': '': getLocale() }}
    </div>
  </div>
  <!-- column on the right for start and end time - only on mobile resolutions -->
  @if (date.startTime && !date.endDate) {
    <div class="col-auto align-self-center d-lg-none">
      <div class="ml-1 mr-2 d-inline-block date-time-divider"></div>
    </div>
    <div class="col d-flex d-lg-none column position-relative">
      <div class="row g-0 align-self-center w-100">
        <div class="col">
          <div>{{ date.startTime | date:'HH:mm': '': getLocale() }}</div>
        </div>
        @if (date.endTime) {
          <div class="col">
            <div>{{ date.endTime | date:'HH:mm': '': getLocale() }}</div>
          </div>
          <div class="position-absolute d-lg-none hyphen start-0 end-0">
            -
          </div>
        }
      </div>
    </div>
  }
  <!-- column on the right for end date and end time -->
  @if (date.endDate) {
    <div class="col-1 align-self-center hyphen">
      -
    </div>
    <div class="col-5 column">
      <div>{{ date.endDate | date:'MMM': '': getLocale() | slice: 0:3 }}</div>
      <div class="day">{{ date.endDate | date:'dd': '': getLocale() }}</div>
      <div>{{ date.endDate | date:'E': '': getLocale() | slice: 0:2 }}</div>
      @if (date.endDate) {
        <div>{{ date.endTime | date:'HH:mm': '': getLocale() }}</div>
      }
    </div>
  }
  <!-- description for this date -->
  @if (date.description) {
    <div class="description text-center">
      @if (date.description.length > 13) {
        <details>
          <summary>
            {{ 'poll.details.description.description' | translate }}
          </summary>
          {{ date.description }}
        </details>
      } @else {
        <span>{{ date.description }}</span>
      }
    </div>
  }
</div>
