name: docker

on:
  workflow_run:
    workflows: [node-js]
    types: [completed]
    branches: [main]

jobs:
  build-push-opencode:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment:
      name: opencode.de
      url: https://gitlab.opencode.de/groups/dataport/terminfinder/-/container_registries
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: registry.opencode.de
          username: access-token
          password: ${{ secrets.OPENCODE_DOCKER_ACCESS_TOKEN }}
      - uses: docker/build-push-action@v6.1.0
        with:
          context: .
          push: true
          tags: registry.opencode.de/dataport/terminfinder/terminfinder-frontend:${{ github.ref_name }}
