name: node-js

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint-audit:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.18.x
          cache: 'npm'
      - run: npm ci
      - run: npm run lint
      - run: npm run test
      - run: npm audit --omit=dev
        continue-on-error: true

  e2e:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.18.x
          cache: 'npm'
      - run: npm ci
      - run: npm run build
        env:
          CUSTOMER_ID: '22222222-2222-2222-2222-222222222222'
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm run http-server
          command: npm run ci-cypress
      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots
