@import "src/default";
@import 'bootstrap/scss/mixins';

.invalid-message {
  padding-left: 0 !important;
}

.slim-input {
  border: 0;
  border-bottom: 1px solid grey;
}

img.icon {
  width: 30px;
  height: 30px;
}

.invalid-message-highlight:has(.invalid-message) {
  &::before {
    @media (min-width: map-get($grid-breakpoints, xs)) {
      left: -1.35rem !important;
    }
    @media (min-width: map-get($grid-breakpoints, sm)) {
      left: -.75rem !important;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      left: .25rem !important;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      left: .5rem !important;
    }
  }
}
