.invalid-message {
  padding-left: 0 !important;
}

.slim-input {
  border: 0;
  border-bottom: 1px solid grey;
}

img.icon {
  width: 30px;
  height: 30px;
}

.invalid-message-highlight:has(.invalid-message)::before {
  left: -0.75rem !important;
}

div.input-group > * {
  border-radius: 0;
  padding-bottom: 0;
}
