<div class="row justify-content-center">
  <app-stepper [currentStep]="2" data-id="stepperComponent"></app-stepper>
</div>
<div class="row justify-content-center mt-4 mb-0">
  @if (!isAdmin) {
    <h1 class="text-center mb-2" data-id="addDetailsHeading">
      {{ 'settings.additional' | translate }}
    </h1>
  } @else {
    <h1 class="text-center">
      {{ 'settings.change' | translate }}
    </h1>
  }
</div>
@if (isAdmin) {
  <app-admin-info></app-admin-info>
}
<div class="row justify-content-center">
  <div class="col col-lg-9">
    <form (ngSubmit)="onSubmit()" [formGroup]="settingsForm">
      <div class="section-container p-4 pr-5">
        <div class="row g-0">
          <h2 class="my-1 font-medium text-bold" data-id="generatePassword">{{ 'password.generate' | translate }}</h2>
        </div>
        <app-checkbox-field [label]="'password.securePoll' | translate" [reverse]="true" data-id="securePollLabel"
                            formControlName="hasPassword"/>
        @if (hasPassword().value) {
          <div class="row g-0 pt-3">
            <div class="col-11 offset-1">
              <label
                class="font-small text-bold text-primary"
                for="password"
              >
                {{ (showPlaceholder ? 'password.changePassword' : 'password.enterPassword') | translate }}
                <br>
                {{ 'password.minimum' | translate }}
              </label>
            </div>
          </div>
          <div class="row g-0 invalid-message-highlight" aria-live="assertive">
            <div class="col-1 d-flex justify-content-end align-items-center">
              <img alt="key" class="icon m-2" src="assets/password.svg">
            </div>
            <input
              required
              [placeholder]="showPlaceholder ? '********' : ''"
              autocomplete="new-password"
              class="px-0 slim-input col-11"
              data-id="passwordInput"
              formControlName="password"
              id="password"
              type="password"
              aria-describedby="set-password set-minimum"
            />
            @if (getPassword().touched || getPassword().dirty) {
              @if (!!getPassword().errors?.required) {
                <div
                  class="offset-1 col invalid-message"
                  data-id="errorMsgSetPassword"
                  id="set-password"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'password.set' | translate }}
                </div>
              }
              @if (!!getPassword().errors?.invalidPassword) {
                <div
                  class="offset-1 col invalid-message"
                  data-id="errorMsgSetMinimum"
                  id="set-minimum"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ 'password.setMinimum' | translate }}
                </div>
              }
            }
          </div>
          <div class="row g-0 mt-3">
            <div class="col-11 offset-1">
              <label
                class="font-small text-bold text-primary"
                for="password-repeat"
              >
                {{ 'password.repeat' | translate }}
              </label>
            </div>
          </div>
          <div class="row g-0 invalid-message-highlight" aria-live="assertive">
            <div class="col-1 d-flex justify-content-end align-items-center">
              <img alt="key" class="icon m-2" src="assets/password.svg">
            </div>
            <input
              required
              [placeholder]="showPlaceholder ? '********' : ''"
              autocomplete="new-password"
              class="px-0 slim-input col-11"
              data-id="repeatPasswordInput"
              formControlName="passwordRepeat"
              id="password-repeat"
              type="password"
              aria-describedby="no-match set-password-repeat set-minimum-repeat"
            >
            <!-- show message if:
                  - passwordRepeat is 'dirty' and not same
                  - passwordRepeat has been auto-filled and password has been changed -->
            @if (getPasswordRepeat().touched || (getPassword().dirty && !!getPasswordRepeat().value)) {
              <div class="d-flex flex-column">
                @if (!!getPasswordRepeat().errors?.required) {
                  <div
                    class="offset-1 col invalid-message"
                    data-id="errorMsgSetPassword"
                    id="set-password-repeat"
                  >
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ 'password.set' | translate }}
                  </div>
                } @else if (getPasswordRepeat().dirty) {
                  @if (!!settingsForm.errors?.notSame) {
                    <div
                      class="offset-1 col invalid-message"
                      data-id="errorMsgNoMatch"
                      id="no-match"
                    >
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ 'password.noMatch' | translate }}
                    </div>
                  }
                  @if (!!getPasswordRepeat().errors?.invalidPassword) {
                    <div
                      class="offset-1 col invalid-message"
                      data-id="errorMsgSetMinimum"
                      id="set-minimum-repeat"
                    >
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ 'password.setMinimum' | translate }}
                    </div>
                  }
                }
              </div>
            }
          </div>
        }
      </div>
      <app-navigation
        (backward)="goBack()"
        (forward)="onSubmit()"
        [hasBackwardButton]="true"
        [hasForwardButton]="true"
        [isInvalid]="settingsForm.invalid"
        backwardText="{{ 'navigation.back' | translate }}"
        forwardText="{{ 'navigation.next' | translate }}"
      ></app-navigation>
    </form>
  </div>
</div>
